version: '3'

services:
  webserver:
    ports:
      - 8080:80
    volumes:
      - ./www/server:/usr/src/app/server
      - ./www/config:/usr/src/app/config
  api:
    ports:
      - 8079:8080
    volumes:
      - ./API/db:/go/src/app/db
      

    # add depends_on and volumes later