:root {
    --primary-background: #222;
    --secondary-background: #333;
    --tertiary-background: #444;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--primary-background);
    color: #eee;
}

main {
    margin-top: 4rem;
}

.content-section {
    padding: .25rem;
}

.secondary-background {
    background: var(--secondary-background);
}

.tertiary-background {
    background: var(--tertiary-background);
}

.card-dark {
    background: var(--tertiary-background);
}