{% extends 'partials/_layout.html' %}
{% from 'utils/_formutils.html' import render_field %}

{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}

        <legend class="border-bottom mb-4">Log in</legend>

        {{ render_field(form.email) }}
        {{ render_field(form.password) }}
        {{ form.submit(class="btn btn-primary") }}
    </form>
    <small class="mt-4">Need an account? <a href="{{ url_for('register') }}">Register</a></small>
</div>
{% endblock %}