{% extends 'partials/_layout.html' %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/managers/request_manager.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/facades/course_facade.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/enrolled.js') }}"></script>
{% endblock %}

{% block content %}
<h1>Enrolled Courses</h1>
<div class="w-100" id="enrolled-container">
    {% for course in courses %}
    <div class="d-flex flex-wrap py-3 my-2 w-100 secondary-background">
        <div class="d-flex w-100">
            <div class="col-md-8"><strong>{{course.college_name}}-{{course.course_code}}</strong>: {{course.course_name}}</div>
            <div class="col-md-2 text-right">{{course.days_of_week}}</div>
            <div class="col-md-2 text-right">{{course.start_time}} - {{course.end_time}}</div>
        </div>
        <div class="d-flex flex-wrap mt-4 w-100">
            <div class="col-md-8 col-sm-12">{{course.teacher}}</div>
            <div class="col-md-4 col-sm-12 text-right">
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#course-description-{{course.course_id}}">More details</button>
            </div>
        </div>
        <div class="mt-4 w-100 collapse" id="course-description-{{course.course_id}}" data-parent="#enrolled-container">
            <div class="card card-body card-dark">
                <h3>Description:</h3>
                <p>{{course.description}}</p>
                <div class="text-right">
                    <button class="btn btn-primary" onclick="dropCourse({{ course.course_id }})">Drop course</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}